/* Custom CSS for styling the Admin Sign-in page */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container-fluid {
    height: 100vh;
    position: relative;
}

.left-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-section {
    background-color: #d9b552;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.right-section img {
    max-width: 70%;
    border-radius: 20px;
}

.right-section h2 {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.form-group {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 10px;
    height: 45px;
    font-size: 1.1rem;
}

.btn-signin {
    width: 100%;
    background-color: #2f3e50;
    color: #ffffff;
    border-radius: 10px;
    height: 50px;
    font-size: 1.1rem;
}

.btn-signin:hover {
    background-color: #9d9d9d;
}

.forgot-password {
    color: #7a5fd1;
    font-size: 0.9rem;
}

.input-icon {
    position: relative;
}

.input-icon-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

/* Admin Login Text */
.admin-login-text {
    color: #2f3e50;
    font-size: 1.25rem;
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}
