/* Navbar Styling */
.navbar {
    background-color: #f8f9fa;
}

.navbar-brand img {
    max-height: 70px; /* Increased logo size to 70px */
}

.navbar-nav .nav-item .nav-link {
    color: #333;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007bff;
}

/* Get Started Button */
.navbar-nav .btn-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 50px; /* Rounded button */
    margin-left: 1rem; /* Shifted right */
}

.navbar-nav .btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
}
